.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

body{
        margin: 0;
        padding: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: var(--second-color);
}

header{
    padding-top: 20px;
    display: flex;
}

.fullName{
    position: relative;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    animation: running-header 1s ease-out;
}

.profile-photo {
    width: 300px;
}

main{
    display:flex;
}


.contact_title{
    display: flex;
    justify-content: flex-start;
}
.list-contacts{
    text-align:left;
}

.skills {

}

.container_code{
    text-align: left;
    white-space: pre-line;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    word-wrap: normal;
}

.summary{
    text-align: left;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--footer-color);

}